<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>*ngFor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul>
    <li *ngFor="let item of list; let i = index; let pair = even"
        [ngClass]="{ 'red' : pair }">
      {{i}} {{ item | titlecase }}
    </li>
  </ul>
  <ion-list>
    <ion-item *ngFor="let item of list; let i = index">
      <p slot="start">{{i}}</p>
      <p>{{item}}</p>
    </ion-item>
  </ion-list>
</ion-content>
