<ion-header>
  <ion-toolbar>
    <ion-title>ex2Modal</ion-title>
    <ion-button slot="end"
                (click)="dismiss()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-text-center">{{ model?.name }}</p>
  <img src="{{ model?.sprites.front_default }}">

  <div style="display: block">
    <canvas baseChart
      [datasets]="radarChartData"
      [options]="radarChartOptions"
      [labels]="radarChartLabels"
      [chartType]="radarChartType">
    </canvas>
  </div>
</ion-content>
