<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercice 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button slot="start" 
                (click)="goPrev()"
                [disabled]="!model?.previous">Previous</ion-button>
    <ion-button slot="end" 
                (click)="goNext()"
                [disabled]="!model?.next">Next</ion-button>
  </ion-item>
  <ion-list *ngIf="model">
    <ion-item *ngFor="let item of model.results"
              (click)="openModal(item.url)">
      {{ item.name | uppercase }}
    </ion-item>
  </ion-list>
</ion-content>
