<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Binding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Hello {{ maVariable }}!!</p>
</ion-content>
