<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="scan()">Scan</ion-button>
  <ion-card>
    
    <img src="{{ model?.product.image_ingredients_small_url }}">

    <ion-list>
      <ion-item *ngFor="let item of model?.product.ingredients">
        {{ item.text }}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
