<ion-header>
  <ion-toolbar>
    <ion-title>exemple6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input [(ngModel)]="cityName">
  <button (click)="search()">Rechercher</button>

  <ion-card *ngIf="weather">
    <ion-header>{{weather.name}}</ion-header>
    <ion-card-content>
      <p>Temp Min: {{weather.main.temp_min | number : '1.2-2'  }} °K</p>
      <p>Temp Max: {{weather.main.temp_max}} °K</p>
      <p>Pression: {{weather.main.pressure}} Hpa</p>
      <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png">
    </ion-card-content>
  </ion-card>
</ion-content>
