<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{ nombre }}</p>
  <ion-button (click)="ajouter()"
              color="tertiary"
              size="block"
              fill="outline"
              [disabled]="nombre > 8">+</ion-button>
  <ion-button (click)="diminuer()"
              color="danger"
              size="block"
              fill="outline"
              [disabled]="nombre < 1">-</ion-button>
  <p (mouseenter)="highLight()"
     [ngClass]="{'yellow' : isHighlighted }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eaque, molestiae iusto quis vel accusamus illum commodi quod architecto corrupti similique quasi nisi? Delectus illum sunt unde ipsum! Veritatis, quos?</p>
</ion-content>
