<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercice 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Article</ion-label>
    <ion-input [(ngModel)]="item"></ion-input>
  </ion-item>
  <ion-button fill="outline"
              color="info"
              size="block"
              (click)="add()"
              [disabled]="!item">
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let elem of listItems">
      <p (click)="cocher(elem)"
      [ngClass]="{'barre': elem.isChecked}">{{elem.name}}</p>
      <ion-button color="danger"
                  fill="outline"
                  size="small"
                  slot="end"
                  (click)="showAlert(elem)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
